<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('.bower.static', filename='bootstrap/dist/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ url_for('.bower.static', filename='keen-dashboards/dist/keen-dashboards.css') }}">
    <link rel="stylesheet" href="{{ url_for('.bower.static', filename='dcjs/dc.css') }}">
    <link rel="stylesheet" href="{{ url_for('.bower.static', filename='leaflet/dist/leaflet.css') }}">
    <link rel="stylesheet" href="{{ url_for('.bower.static', filename='nvd3/build/nv.d3.css') }}">
    {{ css_resources|indent(4)|safe }}
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">MSc Applied Data Science Visualisation Demo</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

          <!-- Time Chart -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                  <a href="https://www.highcharts.com/">HighCharts</a>
              </div>
              <div class="chart-stage">
                <div id="high-charts"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart -->

          <!-- Time Chart -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                <a href="http://bokeh.pydata.org/">Bokeh</a>
              </div>
              <div class="chart-stage">
                {{ plot_div|indent(4)|safe }}
              </div>
            </div>
          </div>
          <!-- Time Chart -->

    </div> <!--row-->
    <div class="row">

          <!-- Brand -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                  <a href="http://nvd3.org/">NVD3</a>
              </div>
              <div class="chart-stage">
                <div id="nvd3-chart"><svg></svg></div>
              </div>
            </div>
          </div>
          <!-- Brand -->

    </div> <!--row-->
  </div>

  <hr>

    <script src="{{ url_for('.bower.static', filename='jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='bootstrap/dist/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='underscore/underscore-min.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='crossfilter2/crossfilter.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='d3/d3.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='dcjs/dc.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='leaflet/dist/leaflet.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='keen-js/dist/keen.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='d3-queue/d3-queue.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='nvd3/build/nv.d3.js') }}"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    {{ js_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}

    <script type="text/javascript">

        $.getJSON('/data', function(data) {
            var cs = crossfilter(data);
            var category = cs.dimension(function (d) {
                return d.category;
            });
            var categoryCounts = category.group().reduceCount().all();

            var kk = _.map(categoryCounts, function (x) {
                return x.key
            });
            var vv = _.map(categoryCounts, function (x) {
                return x.value
            });

            new Highcharts.Chart({
                series: [{data: vv, yAxis: 0}],
                xAxis: {categories: kk, title: {text: null}},
                yAxis: [{}],
                title: {text: null},
                chart: {type: 'bar', renderTo: 'high-charts'}
            });

            var nvd3data = [{key: 'CategoryCounts', values: categoryCounts}];

            nv.addGraph(function() {
                var chart = nv.models.discreteBarChart()
                    .x(function(d) { return d.key })
                    .y(function(d) { return d.value })
                    // .margin({top: 30, right: 20, bottom: 50, left: 175})
                    .duration(250)
                    .showValues(true);
                    // .tooltips(false)
                    // .showControls(false);

                chart.yAxis.tickFormat(d3.format(',.2f'));

                debugger;

                d3.select('#nvd3-chart svg')
                    .datum(nvd3data)
                    .call(chart);

                nv.utils.windowResize(chart.update);

                return chart;
            });

            // debugger;

        });
    </script>


</body>
</html>