<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('.bower.static', filename='bootstrap/dist/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ url_for('.bower.static', filename='keen-dashboards/dist/keen-dashboards.css') }}">
    <link rel="stylesheet" href="{{ url_for('.bower.static', filename='dcjs/dc.css') }}">
    <link rel="stylesheet" href="{{ url_for('.bower.static', filename='leaflet/dist/leaflet.css') }}">
    {{ css_resources|indent(4)|safe }}
</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">MSc Applied Data Science Visualisation Demo</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-6">
        <div class="row">

          <!-- Time Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                  <a href="https://www.highcharts.com/">HighCharts</a>
              </div>
              <div class="chart-stage">
                <div id="high-charts"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart -->

          <!-- Time Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                <a href="http://bokeh.pydata.org/">Bokeh</a>
              </div>
              <div class="chart-stage">
                {{ plot_div|indent(4)|safe }}
              </div>
            </div>
          </div>
          <!-- Time Chart -->

{#          <!-- Brand -->#}
{#          <div class="col-sm-6">#}
{#            <div class="chart-wrapper">#}
{#              <div class="chart-title">#}
{#                Brand#}
{#              </div>#}
{#              <div class="chart-stage">#}
{#                <div id="phone-brand-row-chart"></div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <!-- Brand -->#}
{##}
{##}
{#          <div class="col-sm-6">#}
{##}
{#            <div class="row">#}
{#            <!-- Gender -->#}
{#            <div class="col-sm-12">#}
{#              <div class="chart-wrapper">#}
{#                <div class="chart-title">#}
{#                  Gender#}
{#                </div>#}
{#                <div class="chart-stage">#}
{#                  <div id="gender-row-chart"></div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            </div>#}
{#            <!-- Gender -->#}
{##}
{#            <!-- Age Segment -->#}
{#            <div class="row">#}
{#            <div class="col-sm-12">#}
{#              <div class="chart-wrapper">#}
{#                <div class="chart-title">#}
{#                  Age Segment#}
{#                </div>#}
{#                <div class="chart-stage">#}
{#                  <div id="age-segment-row-chart"></div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <!-- Age Segment -->#}
{#          </div>#}
{#          </div>#}
{##}
{##}
{#        </div>#}
{#      </div>#}
{##}
{##}
{#      <div class="col-sm-2">#}
{#        <div class="row">#}
{##}
{#          <!-- Chinese Province -->#}
{#          <div class="col-sm-12">#}
{#            <div class="chart-wrapper">#}
{#              <div class="chart-title">#}
{#                Chinese Province#}
{#              </div>#}
{#              <div class="chart-stage">#}
{#                <div id="location-row-chart"></div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <!-- Chinese Province -->#}
{#        </div>#}
{#      </div>#}


{##}
{#      <div class="col-sm-4">#}
{##}
{#        <div class="row">#}
{#          <!-- Map -->#}
{#          <div class="col-sm-12">#}
{#            <div class="chart-wrapper">#}
{#              <div class="chart-title">#}
{#                Map#}
{#              </div>#}
{#              <div class="chart-stage">#}
{#                <div id="map" style="width: 400px; height: 380px"></div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <!-- Map -->#}
{#        </div>#}
{##}
{#        <div class="row">#}
{#          <!-- Number of events -->#}
{#          <div class="col-sm-12">#}
{#            <div class="chart-wrapper">#}
{#              <div class="chart-title">#}
{#                Number of Events#}
{#              </div>#}
{#              <div class="chart-stage">#}
{#                <div id="number-records-nd"></div>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <!-- Number of events -->#}
{#        </div>#}
{##}
{#      </div>#}

    </div>

  </div>

  <hr>

    <script src="{{ url_for('.bower.static', filename='jquery/dist/jquery.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='bootstrap/dist/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='underscore/underscore-min.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='crossfilter2/crossfilter.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='d3/d3.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='dcjs/dc.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='leaflet/dist/leaflet.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='keen-js/dist/keen.js') }}"></script>
    <script src="{{ url_for('.bower.static', filename='d3-queue/d3-queue.js') }}"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    {{ js_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}

    <script type="text/javascript">

        $.getJSON('/data', function(data) {
            var cs = crossfilter(data);
            var category = cs.dimension(function (d) {
                return d.category;
            });
            var categoryCounts = category.group().reduceCount().all();

            var kk = _.map(categoryCounts, function (x) {
                return x.key
            });
            var vv = _.map(categoryCounts, function (x) {
                return x.value
            });

            new Highcharts.Chart({
                series: [{data: vv, yAxis: 0}],
                xAxis: {categories: kk, title: {text: null}},
                yAxis: [{}],
                title: {text: null},
                chart: {type: 'bar', renderTo: 'high-charts'}
            });

{#            debugger;#}
        });
{#            $.each(data, function(index, element) {#}
{#                console.log(index + ": {" + element.category + ", " +#}
{#                    element.amount + ", " + element.detail + "}"); }) });#}

{#        new Highcharts.Chart(#}
{#            {"series":[#}
{#                {"data":[#}
{#                    [1462838400000,2158372.6420299998],#}
{#                    [1462752000000,1438419.8610100001],#}
{#                    [1462665600000,667993.263726],#}
{#                    [1462579200000,1825474.7086099999],#}
{#                    [1462492800000,1908047.6404200001],#}
{#                    [1304985600000,228989.8988]],#}
{#                "name": "Value",#}
{#                "yAxis": 0}#}
{#                ],#}
{#                "yAxis":[{}],#}
{#                "chart": { "renderTo":" time-chart" },#}
{#                "xAxis": {"type":"datetime","title":{"text":"Date"}},"legend":{"enabled":true}});#}
    </script>


</body>
</html>